{% extends 'base.html.twig' %}

{% block title %}Un nouveau chantier{% endblock %}

{% block sous_header %}
        <nav style="background-color: #e3f2fd; !important"
            class="navbar navbar-expand-lg navbar-light">
            <h3 class="text-dark"> <a class="btn btn-outline-dark" href="{{ path('chantiers_index') }}"><i class="fa fa-arrow-left"></i></a> Un nouveau chantier</h3>
           
          </nav>
{% endblock %}
{% block body %}
    
    {{ include('chantiers/_form.html.twig') }}

{% endblock %}
